.header-toolbar-color {
  background-color: #3b5047 !important;
  border-bottom: 5px solid #909e48;
}

.header-logo {
  img {
    width: 130px;
  }
}

.user-avatar {
  width: 46px;
  height: 46px;
  background-color: rgba(0, 0, 0, .15);
}
